.Grid{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap: 3rem,
}

.card-cu img{
    width: 95%;
    border-radius: 1rem;
    
}
/* .card-cu a{
    text-decoration: none;
} */
.card-cu h4{
    text-align: center;
    padding: 1rem;
}
.kancha{
    font-family: "Raleway";
    text-decoration: none !important;
    font-weight: 700;
    font-size: larger;
    color: black;
    padding-top: .5rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 10%; */
}

.title-link{
    color: rgb(69, 69, 69);
    
    
}